*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
}
.center{
    text-align: center;
    margin: 200px auto;
    width: 500px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(98, 97, 97, 0.5);  
    border-radius: 10px;
    background-color: #000000;

    color: white;

}
.clock{
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 10px;
}
.banner{
    text-align: center;
    font-size: 30px;
    font-family: 'Arial Black', Gadget, sans-serif;
    margin-bottom: 20px;
    color: #ffffff;
}